.site-footer {
    padding: 0 15vw;
    background-color: $color-black;
    text-align: center;
    &__listwrapper {
    
    display: flex;
    justify-content: space-around;
    

    .listbox {
        padding: 2rem;
        &__title {
            color: $color-yellow;
        }
        &__wrapper {
            display: inline-block;
            
        }

        &__link {
            text-decoration: none;
            color: $color-gray;
            font-size: 1.2rem;
            &::after {
                content: "";
                display: block;
                visibility: hidden;
                height: .1rem;
                opacity: 0;
                background-color: $color-yellow;
                margin-top: .1rem;
                transform: translateY(1rem);
                transition: all .3s;
            }
    
            &:hover,
            &:focus {
                &::after {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        &__heading--yellow {
            color: $color-yellow;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 200;
        }
    }
    }
    &__copyright {
        color: $color-gray;
    }
}

@media (max-width: 500px) {
    .site-footer {
        &__listwrapper {
        flex-direction: column;
        }
    }
}